trigger:
  paths:
    include:
      - terraform/**

pr: none

variables:
  TF_WORKING_DIR: terraform

stages:

# =========================
# STAGE 1: Terraform PLAN
# =========================
- stage: TerraformPlan
  displayName: "Terraform – Plan"
  jobs:
  - job: Plan
    displayName: "Terraform Plan"
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: Bash@3
      displayName: "Install Terraform"
      inputs:
        targetType: inline
        script: |
          sudo apt-get update
          sudo apt-get install -y gnupg software-properties-common curl
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update
          sudo apt-get install -y terraform
          terraform -version

    - task: Bash@3
      displayName: "Terraform Init"
      inputs:
        targetType: inline
        workingDirectory: $(TF_WORKING_DIR)
        script: |
          terraform init

    - task: Bash@3
      displayName: "Terraform Plan"
      env:
        AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
        AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
        AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
      inputs:
        targetType: inline
        workingDirectory: $(TF_WORKING_DIR)
        script: |
          terraform plan


# =========================
# STAGE 2: Terraform APPLY
# =========================
- stage: TerraformApply
  displayName: "Terraform – Apply (Manual Approval)"
  dependsOn: TerraformPlan
  condition: succeeded()

  jobs:
  - deployment: Apply
    displayName: "Terraform Apply"
    environment: infra-approval   # EZ ADJA A MANUAL APPROVAL-T
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: Bash@3
            displayName: "Terraform Init"
            inputs:
              targetType: inline
              workingDirectory: $(TF_WORKING_DIR)
              script: |
                terraform init

          - task: Bash@3
            displayName: "Terraform Apply"
            env:
              AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
              AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
              AWS_DEFAULT_REGION: $(AWS_DEFAULT_REGION)
            inputs:
              targetType: inline
              workingDirectory: $(TF_WORKING_DIR)
              script: |
                terraform apply -auto-approve
