# Terraform DESTROY pipeline
# Kontrollált erőforrás törlés approval-val

trigger: none

pool:
  vmImage: ubuntu-latest

variables:
  AWS_REGION: eu-central-1
  TF_WORKING_DIR: terraform
  - group: aws-lab-credentials

jobs:
- deployment: terraform_destroy
  displayName: "Terraform destroy (manual approval)"
  environment: infra-approval   # <-- ITT SZABAD használni
  strategy:
    runOnce:
      deploy:
        steps:
        - checkout: self

        - bash: |
            terraform init -upgrade
          displayName: "Terraform init"
          workingDirectory: $(TF_WORKING_DIR)
          env:
            AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
            AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
            AWS_DEFAULT_REGION: $(AWS_REGION)

        - bash: |
            terraform destroy -auto-approve
          displayName: "Terraform destroy"
          workingDirectory: $(TF_WORKING_DIR)
          env:
            AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
            AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
            AWS_DEFAULT_REGION: $(AWS_REGION)
            TF_VAR_ecr_image_uri: $(ECR_IMAGE_URI)
