trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  TF_VERSION: "1.6.6"
  TF_WORKING_DIR: "terraform"

stages:
# =========================
# Terraform PLAN
# =========================
- stage: Terraform_Plan
  displayName: "Terraform – Plan"
  jobs:
  - job: terraform_plan
    displayName: "Terraform Plan"
    env:
      AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
      AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
      AWS_DEFAULT_REGION: eu-central-1
      AWS_EC2_METADATA_DISABLED: "true"
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(TF_VERSION)

    - bash: |
        rm -rf .terraform
      displayName: "Clean .terraform directory"
      workingDirectory: $(TF_WORKING_DIR)

    - bash: |
        terraform init -upgrade
      displayName: "Terraform Init"
      workingDirectory: $(TF_WORKING_DIR)

    - bash: |
        terraform plan -input=false
      displayName: "Terraform Plan"
      workingDirectory: $(TF_WORKING_DIR)
      env:
        TF_VAR_ecr_image_uri: $(ECR_IMAGE_URI)

# =========================
# Terraform APPLY (Manual Approval)
# =========================
- stage: Terraform_Apply
  displayName: "Terraform – Apply (Manual Approval)"
  dependsOn: Terraform_Plan
  condition: succeeded()
  jobs:
  - deployment: terraform_apply
    displayName: "Terraform Apply"
    environment: infra-approval
    env:
      AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
      AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
      AWS_DEFAULT_REGION: eu-central-1
      AWS_EC2_METADATA_DISABLED: "true"
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: TerraformInstaller@1
            displayName: "Install Terraform"
            inputs:
              terraformVersion: $(TF_VERSION)

          - bash: |
              rm -rf .terraform
            displayName: "Clean .terraform directory"
            workingDirectory: $(TF_WORKING_DIR)

          - bash: |
              terraform init -upgrade
            displayName: "Terraform Init"
            workingDirectory: $(TF_WORKING_DIR)

          - bash: |
              terraform apply -input=false -auto-approve
            displayName: "Terraform Apply"
            workingDirectory: $(TF_WORKING_DIR)
            env:
              TF_VAR_ecr_image_uri: $(ECR_IMAGE_URI)
